<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentiment Analyzer</title>
        <link href="https://fonts.googleapis.com/css2?&family=Roboto:wght@300;500;700&family=Roboto+Slab:wght@300;400;700;800&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/1aac26dbd0.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <header>
            <h1>
                Article sentiment app
            </h1>
        </header>

        <main>
            <p>Enter an article by its URL and I will tell you what its feeling is...</p>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" placeholder="Enter article URL here">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>
            <section>
                <strong>Sentiment result:</strong>
                <div id="polarity"></div>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
            </section>
        </main>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

        <footer>
            <nav class="fnav">
                <div class="copyright">Milena Atelier© 2021</div>
            </nav>
        </footer>
    </body>
</html>